<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.tymeleaf.org">
    <head>
        <title>LOMICHIS</title>
        <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
         <nav data-th-replace="nav"></nav>
        <!-- end nav -->

        <div class="container-fluid p-4">
            <div class="row">
                <div class="d-flex align-items-center-center p-2">
                    <div class="col-md-6">
                        <img class="mx-auto d-block" th:src="@{/images/others/error.PNG}" alt="https://www.w3schools.com/bootstrap4/paris.jpg" style="max-height: 500px;"/>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <h1>Algo salio mal, por favor, vuelve a intentarlo</h1>
                    </div>
                </div>
                <!-- comment -->
            </div>
            <!-- Content here -->
        </div>


        <div class="container-fluid mt-4">
            <div class="row"> 
            </div>            
        </div>



        <!-- Footer -->
        <footer class="page-footer font-small bg-dark text-light">


                <!-- Footer Links -->
                <div class="container text-center text-md-left">

                    <!-- Grid row-->
                    <div class="row">
                        <div class='row m-3'></div>
                        <div class="col-sm">
                        </div>
                        <div class="col-sm d-flex align-items-center">
                            <div class="col-sm ">
                                <a> <i class="bi bi-facebook fa-2x"></i> </a>
                            </div>
                            <div class="col-sm">
                                <a> <i class="bi bi-twitter fa-2x"></i> </a>
                            </div>
                            <div class="col-sm">
                                <a> <i class="bi bi-google fa-2x"></i> </a>
                            </div>
                            <div class="col-sm">
                                <a> <i class="bi bi-linkedin fa-2x"></i> </a>
                            </div>
                            <div class="col-sm">
                                <a> <i class="bi bi-instagram fa-2x"></i> </a>
                            </div>             
                            <div class="col-sm">
                                <a> <i class="bi bi-pinterest fa-2x"></i> </a>
                            </div> 
                        </div>
                        <div class="col-sm">
                        </div>


                    </div>
                    <!-- Grid row-->

                </div>
                <!-- Footer Elements -->

                <!-- Copyright -->
                <div class="footer-copyright text-center text-light py-3">© 2020 Copyright:
                    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
                </div>
                <!-- Copyright -->

        </footer>
        <!-- Footer -->

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    </body>


</html>
